@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Assignment1_MuditKhanna.Models.QuestionModel>
@inject UserManager<IdentityUser> UserManager


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Question" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Questions List</li>
    </ol>
</nav>
<h2>Questions</h2>

@foreach (var question in Model)
{
    <div class="card mb-4 mt-2" style="border-radius:1rem">
        <div class="card-body" style="text-decoration:none; color:black">
            <div style="display:flex; justify-content:space-between">
                <h5 class="card-title">
                    @Html.DisplayFor(_=>question.QuestionValue)
                    <span class="m-2 badge rounded-pill bg-@(question.Category=="Information Technology"?"danger"
                    :(question.Category=="General Knowledge"?"success":"info"))"> @Html.DisplayFor(_=>question.Category)</span>
                </h5>
                <div>
                    <a class="btn btn-primary" asp-controller="Question" asp-action="Details"
                       asp-route-id="@question.Id" style="height:2.5rem">View</a>
                    @if ((await UserManager.GetRolesAsync(await UserManager.FindByNameAsync(User.Identity.Name))).Contains("Admin"))
                    {
                        <a class="btn btn-danger" style="height:2.5rem"
                           asp-controller="Question" asp-action="Delete" asp-route-id="@question.Id">
                            Delete
                        </a>
                    }
                </div>
            </div>
            <h6 class="card-subtitle mb-2 text-body-secondary">Answers: @Html.DisplayFor(_=>question.AnswersList.Count)</h6>
        </div>
    </div>
}

<a asp-controller="Question" asp-action="Add" class="btn btn-primary">Ask a question</a>